<div fxLayout="column" fxLayoutGap="10px" class="accountContainer">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div>Orders History:</div>
    <div fxLayout="column">
      <div>Looking for an order not registered to an account?</div>
      <div fxLayout="row" fxLayoutGap="3px" fxLayoutAlign="start center">
        <div>Enter the Order Id here:</div>
        <md-input-container>
          <input mdInput type="text" #orderId placeholder="Order Id">
          <md-hint class="errorHints" *ngIf="searchError">No order with this Id was found</md-hint>
        </md-input-container>
        <button md-raised-button color="primart" (click)="getOrderByOrderId(orderId.value)">Search</button>
      </div>

    </div>
  </div>

  <div fxLayout="row">
    <div fxLayout="column">
      <md-card *ngIf="searchOrder">
        <button md-button routerLink="/status/{{searchId}}" routerLinkActive="active">
          <md-card-subtitle>{{"Order ID: " + searchId}}</md-card-subtitle>
          {{getNumberOfItemsInOrder(searchOrder) + " items @ " + getNumAsCurrency(searchOrder.total) + " on " +
          dateToString(searchOrder.date)}}
        </button>
      </md-card>


      <md-card *ngFor="let order of orders">
        <button md-button routerLink="/status/{{order.date}}" routerLinkActive="active">
          <md-card-subtitle>
            {{"Order ID: " + order.date}}
          </md-card-subtitle>
          {{getNumberOfItemsInOrder(order) + " items @ " + getNumAsCurrency(order.total) + " on " +
          dateToString(order.date)}}
        </button>
      </md-card>

      <md-card *ngIf="orders==null && user">
        This account has no orders on record
      </md-card>

      <md-card *ngIf="user == null && orders == null">
        You are not signed in!
      </md-card>
    </div>

    <div fxFlex>


    </div>

  </div>

</div>
