<div fxLayout="column"
     fxLayoutAlign="space-between start">

  <a routerLink="/home" routerLinkActive="active">
    <button md-button color="primary">
      <md-icon>home</md-icon>
      Home
    </button>
  </a>
  <a routerLink="/about" routerLinkActive="active">
    <button md-button color="primary">
      <md-icon>whatshot</md-icon>
      About Us
    </button>
  </a>
  <button md-button color="primary">
    <md-icon>shopping_cart</md-icon>
    Cart
  </button>
  <app-login [showText]="true"></app-login>

</div>
