<div fxLayout="column"
     fxLayoutAlign="space-between start">

  <a routerLink="/home" routerLinkActive="active">
    <button md-button color="primary">
      <md-icon>home</md-icon>
      Home
    </button>
  </a>
  <a routerLink="/about" routerLinkActive="active">
    <button md-button color="primary">
      <md-icon>whatshot</md-icon>
      About Us
    </button>
  </a>
  <button md-button color="primary" (click)="toggleCart()">
    <md-icon>shopping_cart</md-icon>
    Cart
  </button>
  <button md-button md-tooltip="Logout" [mdTooltipShowDelay]="500" color="primary" (click)="changeLoginStatus()">
    <md-icon>power_settings_new</md-icon>
    <span>{{loginStatusText}}</span>
  </button>

</div>
