<div class="center">


  <div class="carousel">
    <carousel [sources]="imageSources" [config]="config" *ngIf="rebuild"></carousel>
    <carousel [sources]="imageSources" [config]="config" *ngIf="!rebuild"></carousel>
  </div>

</div>
<!--
<div *ngIf="product.productOptions.length>0 && selectedProductOption.productOptionImages.length"
     class="imageButtons" fxLayout="row" fxLayoutAlign="center center">
  <md-radio-group [ngModel]="imgIndex" (change)="changeImage($event.value, true)">
    <md-radio-button *ngFor="let productOptionImage of selectedProductOption.productOptionImages; let i = index;"
                     [value]="i"></md-radio-button>
  </md-radio-group>

</div>
-->
