<md-toolbar color="primary">
  <div fxFlexFill fxLayout="row" fxLayoutAlign="center center" class="footer">
    <a href="https://www.facebook.com/chiefsretro/" target="_blank" rel="noopener">
      <button md-button class="small_button"><i
        class="mdi mdi-36px mdi-facebook-box facebook icon"></i></button>
    </a>
    <a href="https://www.instagram.com/chiefsretro/" target="_blank" rel="noopener">
      <button md-button class="small_button"><i
        class="mdi mdi-36px mdi-instagram instagram icon"></i></button>
    </a>
  </div>
</md-toolbar>
