<div fxLayout="row" fxLayoutAlign="center center" class="footer">
  <div class="center" fxFlex fxFlex.xs="100%">
    <a href="https://www.facebook.com/chiefsretro/" target="_blank" rel="noopener noreferrer">
      <button md-button class="small_button"><i
        class="mdi mdi-36px mdi-facebook-box facebook icon"></i></button>
    </a>
    <a href="https://www.instagram.com/chiefsretro/" target="_blank" rel="noopener noreferrer">
      <button md-button class="small_button"><i
        class="mdi mdi-36px mdi-instagram instagram icon"></i></button>
    </a>
  </div>
</div>
