:host(app-navbar) {
  width: 100%;
}

:host(app-navbar) nav.mat-tab-links {
  width: 100%;
}

.mat-tab-links {
  width: 100%;
}

nav {
  border: 0 !important;
}

.profileImg {
  max-width: 25px;
  max-height: 25px;
}

md-icon {
  text-shadow: 2px 2px #424242;
}
