.defaultImage {
  max-width: 400px;
  max-height: 400px
}

.stickybuttons {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  bottom: 50px;
  z-index: 10;
  pointer-events: none;
  height: 64px;
}

.addcircle {
  pointer-events: all;
  float: right;
  right: 15px;
}

.removecircle {
  pointer-events: all;
  float: left;
  left: 15px;
}

.productCardContainer md-card {
  margin: 10px 0;
}

.imageButtons {
  height: 30px;
}

.small_button {
  min-width: 1%;
}
