<div
  fxLayout="row"
  fxLayoutAlign="space-around stretch"
  class="appDark">

  <a md-button color="primary" routerLink="/home" routerLinkActive="active" class="bNavSpace">
    <md-icon>home</md-icon>
  </a>
  <a md-button color="primary" routerLink="/about" routerLinkActive="active" class="bNavSpace">
    <md-icon>whatshot</md-icon>
  </a>
  <a md-button color="primary" class="bNavSpace" (click)="toggleCart()">
    <md-icon>shopping_cart</md-icon>
  </a>
  <a md-button md-tooltip="Logout" class="bNavSpace" [mdTooltipShowDelay]="500" color="primary"
     (click)="changeLoginStatus()">
    <md-icon>power_settings_new</md-icon>
  </a>
</div>
