.thumbImageContainer {
  width: 30px;
  height: 30px;
}

.defaultThumbImage {
  max-height: 40px;
  max-width: 40px;
}

.rounded {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
