<md-input-container color="accent">
  <!--<input id="search" mdInput [mdAutocomplete]="auto" #term
         (keyup)="autosearch($event,term.value)"
  >-->
  <input id="search" mdInput [mdAutocomplete]="auto" #term
         (keyup)="search2($event, term.value)"
  >
  <md-placeholder><i class="mdi mdi-16px mdi-magnify"></i><span> Search</span></md-placeholder>
</md-input-container>


<md-autocomplete #auto="mdAutocomplete">
  <md-option *ngFor="let product of products2 | async" [value]="product.productName" (click)="click(product)"
             [@openclose]
             (onSelectionChange)="click(product)" onselect="click(product)" (onSelect)="click(product)">
    <div fxLayout="row" fxLayoutAlign="center center">
      <app-thumb-image [product]="product"></app-thumb-image>
      <div fxFlex></div>
      <div>{{product.productName}}</div>
    </div>
  </md-option>
</md-autocomplete>
