:host(app-autosearch) {
  flex: 1;
}

md-input-container {
  width: 100%;
  font-size: .75em;
  position: relative;
  top: 10px;
}

md-placeholder {
  color: whitesmoke;
}

.options_container {
  width: 100%;
}

.options_img_container {
  text-align: center;
  float: left;
  height: 100%;

}

.options_text_container {
  float: right;
}

.defaultThumbImage {
  max-height: 30px;
  max-width: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
