md-sidenav {
  width: 10em;
}

.app-wrapper {
  height: 100%;
  margin: 0;
}

.scroll-overlay {
  overflow-x: hidden;
  width: 100%;
}

#sidenav {
  background-color: #212121;
  width: 10em;
  z-index: 20;
}

.mat-sidenav-container {
  color: whitesmoke;
}

.scrollbar-container {
  border: 0;
}

.small_button {
  min-width: 1%;
}

.router {
  padding: 15px;
  z-index: 1;
  background-color: #303030;
}
