md-sidenav {
  width: 10em;
}
app-search {
  z-index: 10;
}

.app-wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
  margin: 0;
}

.scroll-overlay {
  overflow-x: hidden;
}

#sidenav {
  background-color: #212121;
  width: 10em;
  z-index: 20;
}

.mat-sidenav-container {
  color: whitesmoke;
}

.scrollbar-container {
  border: 0;
}
