<div class="app-wrapper" fxLayout="column">

  <md-toolbar fxFlex="nogrow">
    <div fxLayout="row" fxFlexFill fxLayoutAlign="center center">
      <!--for mobile sidenav only show if requested-->
      <div class="menu_button" fxHide fxShow.lt-md *ngIf="showSideNav">
        <button md-icon-button (click)="mobilesidenav.toggle()">
          <md-icon>menu</md-icon>
        </button>
      </div>
      <div fxFlex><a routerLink="/home" routerLinkActive="active">CHIEFSRETRO</a></div>
      <div fxShow fxHide.lt-md>
        <app-autosearch></app-autosearch>

      </div>
      <button fxHide fxShow.lt-md md-icon-button *ngIf="isSearch==false" (click)="isSearch = !isSearch">
        <md-icon>search</md-icon>
      </button>
    </div>
    <md-toolbar-row *ngIf="isSearch==true" fxHide fxShow.lt-md>
      <app-autosearch></app-autosearch>
      <button fxHide fxShow.lt-md md-icon-button (click)="isSearch = !isSearch">
        <md-icon>cancel</md-icon>
      </button>
    </md-toolbar-row>

    <app-floatingcart *ngIf="showCart"></app-floatingcart>
  </md-toolbar>

  <div fxFlex class="appBackgroundLight">
    <div fxLayout="row" fxFlex>

      <!--desktop sidenav-->
      <div fxShow fxHide.lt-md id="sidenav">
        <app-sidenav></app-sidenav>
      </div>

      <div fxLayout="column" class="scroll-overlay inner">

        <div fxFlex>
          <router-outlet></router-outlet>
        </div>
        <!--desktop footer-->
        <app-footer fxFlex="nogrow" fxHide fxShow.gt-sm></app-footer>
        <app-bottomnav fxFlex="nogrow" fxHide fxShow.lt-md></app-bottomnav>
      </div>
    </div>
  </div>

</div>

