<div class="app-wrapper ">

  <md-toolbar>
    <div fxLayout="row" fxFlexFill fxLayoutAlign="center center">
      <div class="menu_button" fxHide fxShow.lt-md>
        <button md-icon-button (click)="mobilesidenav.toggle()">
          <md-icon>menu</md-icon>
        </button>
      </div>
      <div fxFlex><a routerLink="/home" routerLinkActive="active">CHIEFSRETRO</a></div>
      <div fxShow fxHide.lt-md>
        <app-autosearch></app-autosearch>
      </div>
      <button fxHide fxShow.lt-md md-icon-button *ngIf="isSearch==false" (click)="isSearch = !isSearch">
        <md-icon>search</md-icon>
      </button>
    </div>
    <md-toolbar-row *ngIf="isSearch==true" fxHide fxShow.lt-md>
      <app-autosearch></app-autosearch>
      <button fxHide fxShow.lt-md md-icon-button (click)="isSearch = !isSearch">
        <md-icon>cancel</md-icon>
      </button>
    </md-toolbar-row>


  </md-toolbar>


  <md-sidenav-container fxFlex>

    <md-sidenav #mobilesidenav fxHide fxShow.lt-md>
      <app-sidenav></app-sidenav>
    </md-sidenav>

    <div fxLayout="row" fxFlexFill>


      <div fxShow fxHide.lt-md id="sidenav">
        <app-sidenav></app-sidenav>
      </div>

      <div fxFlex fxLayout="column" class="scroll-overlay">

        <div fxFlex>
          <router-outlet></router-outlet>
        </div>

        <div>
          <app-footer></app-footer>
        </div>
      </div>
    </div>

  </md-sidenav-container>

</div>
