:host(app-floatingcart) {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 20;
  transform: translateX(-50%);
}

.floatingCartContainer {
  min-width: 350px;
  max-width: 100%;
  max-height: 650px;
}

.small_button {
  min-width: 1%;
}
