<md-card class="floatingCartContainer">
  <md-card-subtitle fxLayout="row">
    <div fxFlex="nogrow">Cart:</div>
    <span fxFlex></span>
    <button md-button fxFlex="nogrow" (click)="toggleCart()" class="small_button">
      <md-icon>close</md-icon>
    </button>
  </md-card-subtitle>
  <md-card-content>
    <div *ngIf="user.cartItems.length == 0" class="appMedium">
      No Items In Cart.
    </div>
    <div *ngFor="let cartItem of user.cartItems;" [@openclose]>
      <div class="appMedium" fxLayout="row" fxLayoutAlign="none center">
        <button md-button (click)="removeFromCart(cartItem)" class="small_button">
          <md-icon>remove</md-icon>
        </button>

        <a md-button routerLink="/product/sku{{cartItem.product.productId}}" fxFlex>
          <div fxLayout="row" fxLayoutAlign="space-between none">
            <div>
              <app-thumb-image [product]="cartItem.product"></app-thumb-image>
            </div>
            <div fxFlex></div>
            <div>{{cartItem.productOption.productColor}} {{cartItem.product.productName}}</div>
            <div fxFlex></div>
            <div>x{{cartItem.quantity}} @</div>
            <div fxFlex></div>
            <div>${{cartItem.productOption.productPrice}}</div>
          </div>
        </a>
        <button md-button (click)="addToCart(cartItem)" class="small_button">
          <md-icon>add</md-icon>
        </button>
      </div>
    </div>


  </md-card-content>
</md-card>
