<md-card class="floatingCartContainer">
  <md-card-subtitle fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="nogrow">Cart:</div>
    <span fxFlex></span>
    <button md-raised-button color="accent" routerLink="/checkout" class="small_button">Checkout</button>
    <span fxFlex></span>
    <button md-button fxFlex="nogrow" (click)="toggleCart()" class="small_button">
      <md-icon>close</md-icon>
    </button>
  </md-card-subtitle>
  <md-card-content>

    <div *ngIf="cart?.length <= 0">
      No Items In Cart.
    </div>

    <div *ngFor="let cartItem of cart">
      <div fxLayout="row" fxLayoutAlign="none center" *ngIf="cartItem.product && cartItem.productOption">

        <button md-button (click)="removeFromCart(cartItem)" class="small_button">
          <md-icon>remove</md-icon>
        </button>

        <button md-button class="small_button" routerLink="/product/sku{{cartItem.product.productId}}" fxFlex>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <app-thumb-image [product]="cartItem.product" [rounded]="true"></app-thumb-image>
            <div fxFlex="10px"></div>
            <div fxLayout="row" fxLayoutWrap fxLayoutGap="3px" fxLayoutAlign="center center">
              <div>{{cartItem.productOption.productColor}}</div>
              <div>{{cartItem.product.productName}}</div>
            </div>
            <div fxFlex="10px"></div>
            <div>x{{cartItem.quantity}} @</div>
            <div fxFlex="10px"></div>
            <div>{{getNumAsCurrency(cartItem.productOption.productPrice)}}</div>
          </div>
        </button>

        <button md-button (click)="addToCart(cartItem)" class="small_button">
          <md-icon>add</md-icon>
        </button>
      </div>
    </div>


  </md-card-content>
</md-card>
