<md-toolbar color="primary" [@toolbar]>
  <div fxLayout="row" fxFlexFill fxLayoutAlign="start center">
    <div fxFlex fxLayout="row" fxLayoutAlign="start center">
      <button md-icon-button (click)="toggleDesktopNavbar()" fxShow fxHide.lt-md>
        <md-icon>menu</md-icon>
      </button>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="center center">
      <a routerLink="/home" routerLinkActive="active">
        <button md-button class="small_button">CHIEFSRETRO</button>
      </a>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" fxFlex>
      <div fxShow fxHide.lt-md>
        <app-autosearch></app-autosearch>
      </div>
    </div>
    <button fxHide fxShow.lt-md md-icon-button *ngIf="showMobileSearch==false" (click)="toggleMobileSearch()">
      <md-icon>search</md-icon>
    </button>
  </div>
  <md-toolbar-row *ngIf="showMobileSearch==true" fxHide fxShow.lt-md [@toolbar]>
    <app-autosearch></app-autosearch>
    <button fxHide fxShow.lt-md md-icon-button (click)="toggleMobileSearch()">
      <md-icon>cancel</md-icon>
    </button>
  </md-toolbar-row>
  <md-toolbar-row fxHide fxShow.gt-sm *ngIf="showDesktopNavbar==true" [@toolbar]>
    <app-navbar [showText]="true"></app-navbar>
  </md-toolbar-row>
  <app-floatingcart *ngIf="showCart" [@cart]></app-floatingcart>
</md-toolbar>


