<div fxLayout="row"
     fxLayout.xs="column"
     fxLayoutAlign="center center"
     fxLayoutAlign.xs="start">

  <div fxFlex fxFlex.xs="100%">
    This is the main content home body we'll have homepage stuff here.
    <br>
    <br>
    For a test product page go to search and type 'shirt' then click on the search result 'shirt'
    <br>
    <br>
    Login with facebook will only work for notified testers, login with google will work for all.
    <br>
    <br>
    No user data is currently stored on any servers.
  </div>
</div>


