:host(app-login-toast) {
  color: whitesmoke;
}

.profileImg {
  max-height: 25px;
  max-width: 25px;
}

.profileImgContainer {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  height: 25px;
  width: 25px;
}
