button {
  width: 100%;
}

md-input-container {
  font-size: .7em;
  position: relative;
  top: 10px;
}

div.mat-input-table {
  margin: 0;
}

input {
  width: 100%;
}


.searchlist {
  background: #424242;
  position: absolute;
  top: 6px;
  z-index: 11;
  width: 140px;
  max-height: 256px;
}

:host(app-search) {
  flex: 1;
}

.options_img_container {
  text-align: center;
  float: left;
  height: 100%;

}

.options_text_container {
  float: right;
}

.defaultThumbImage {
  max-height: 30px;
  max-width: 30px;
}

.search-icon {
  position: absolute;
  top: -2px;
  right: 6px;
}
