/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

md-sidenav-container {
  overflow: hidden;
}

.mat-toolbar-layout, .mat-toolbar-row {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: visible;
}

.center {
  justify-content: center;
  align-content: center;
  align-items: center;
  display: flex;
}

.md-sidenav-items:first-child {
  margin-top: 1em;
}

.content-wrapper {
  height: 100%;
}

.facebook {  }
.instagram {  }
.icon {
  color: black;
}
