@import '../node_modules/@angular/material/_theming';

@include mat-core();

$chiefsretro-app-primary: mat-palette($mat-light-blue);
$chiefsretro-app-accent: mat-palette($mat-pink, A200, A100, A400);
$chiefsretro-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$chiefsretro-app-theme: mat-light-theme($chiefsretro-app-primary, $chiefsretro-app-accent, $chiefsretro-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($chiefsretro-app-theme);
