
.small_button {
  min-width: 1%;
}

.cartItem div {
  min-height: 20px;
  padding: 3px;
}

/*
fix for safari
 */
.safariFix {
  display: inherit !important;
}

md-card {
  display: block !important;
}
