<div fxLayout="column" fxFlexFill="">
  <div fxLayout="row" fxLayoutAlign="start center">
    <div>Cart:</div>
    <div fxFlex="40px"></div>
    <button md-button (click)="updateCart()" *ngIf="cart?.length">Update Cart</button>
  </div>

  <div fxFlex="20px"></div>
  <div *ngIf="!cart?.length" fxFlex>
    Your cart is empty.
  </div>

  <div *ngFor="let cartItem of cart; let i = index" fxLayout="row" fxLayoutAlign="start none">
    <app-thumb-image *ngIf="cartItem.product" [product]="cartItem.product" [size]="2"
                     [rounded]="true"></app-thumb-image>
    <div fxFlex="20px"></div>
    <div fxLayout="column" fxLayoutGap="5px" fxFlex="100px">
      <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
        <div>{{cartItem.productOption?.productColor}} {{cartItem.product?.productName}}</div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center start" fxFlex>
        Price: ${{cartItem.productOption.productPrice}}
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="200px">
      <button md-button (click)="removeFromCart(i)" class="small_button">
        <md-icon>remove</md-icon>
      </button>
      <div>
        <md-input-container>
          <input mdInput maxlength="2" placeholder="Quantity"
                 (input)="changeCartItemQuantity(i, $event.srcElement.value)" value="{{cartItem.quantity}}">
        </md-input-container>
      </div>
      <button md-button (click)="addToCart(i)" class="small_button">
        <md-icon>add</md-icon>
      </button>
    </div>
  </div>

</div>
