<div fxFlexFill fxLayout="column" class="safariFix">
  <div fxFlexFill fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutGap="10px">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap="">
        <div fxFlex fxLayoutAlign="start center">
          <h3 class="cartTag">Cart:</h3>
        </div>
        <div fxFlex fxLayoutAlign="center center">
          <button md-raised-button color="accent" *ngIf="cart?.length" (click)="openStripe()" fxHide
                  fxShow.lt-md="true">*TEST* Pay With
            Card
          </button>
        </div>
        <div fxFlex fxLayoutAlign="end center" style="text-align: end">
          <h3>{{["Total: " + getNumAsCurrency(getCartTotal())]}}</h3>
        </div>
      </div>

      <div *ngIf="!cart?.length" fxFlex fxLayoutAlign="center center">
        Your cart is empty.
      </div>

      <md-card *ngFor="let cartItem of cart; let i = index" fxLayout="column" fxLayoutAlign="space-around center">
        <div fxFlexFill fxLayout="column">

          <div fxLayout="row" fxLayout="start center" class="cartItem">
            <div fxLayout="column" fxLayoutAlign="center start">
              <div>
                {{cartItem.productOption?.productColor + " " +cartItem.product?.productName}}
              </div>
              <app-thumb-image *ngIf="cartItem.product" [product]="cartItem.product" [size]="size"
                               [rounded]="true"></app-thumb-image>
            </div>

            <div fxFlex></div>
            <div fxLayout="column" fxLayoutGap="15px" fxLayout.gt-sm="center space-between">
              <div fxLayout="row" fxLayoutAlign="center center">
                <div> {{"Price: " + getNumAsCurrency(cartItem.productOption.productPrice)}}</div>
              </div>


              <div fxLayout="row" fxLayoutAlign="center center" fxFlex.gt-sm="300px">
                <button md-button (click)="removeFromCart(i)" class="small_button">
                  <md-icon>remove</md-icon>
                </button>
                <md-input-container fxFlex="50px">
                  <input mdInput maxlength="2" placeholder="Quantity"
                         (input)="changeCartItemQuantity(i, $event.srcElement)" value="{{cartItem.quantity}}">
                </md-input-container>
                <button md-button (click)="addToCart(i)" class="small_button">
                  <md-icon>add</md-icon>
                </button>
              </div>
            </div>
            <div fxFlex></div>
            <div fxLayout.lt-md="column" fxLayout.gt-sm="row" fxLayoutAlign="center center" fxLayoutGap="3px">
              <div>{{["Total: " + getNumAsCurrency(getItemTotal(cartItem.productOption.productPrice,
                cartItem.quantity))]}}
              </div>
            </div>
          </div>
        </div>
      </md-card>
    </div>

    <div fxFlex fxFlex.lt-md="15px" *ngIf="cart?.length"></div>
    <div fxFlex.gt-sm="300px" fxFlex="none" fxLayout="row" fxLayoutAlign="none center" *ngIf="cart?.length">
      <md-card fxLayout="column" fxFlexFill fxLayoutGap="10px">
        <div>To test this please use fake/random information.<br>For card information please enter <span
          style="white-space: nowrap">4242 4242 4242 4242</span> with a valid EXP date (01/2020)
        </div>
        <h3>{{["Total: " + getNumAsCurrency(getCartTotal())]}}</h3>
        <div fxLayout="row" fxLayoutAlign="center end">
          <div>
            <button md-raised-button color="accent" (click)="openStripe()">*TEST* Pay With Card</button>
          </div>
        </div>
      </md-card>
    </div>
  </div>
</div>
